@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

:root{
  --primary-font : "Lato",sans-serif;
  --primary-color: #7B506F;
  --primary-color-20:  rgba(123, 80, 111, 0.10);
}


* {
  font-family: var(--primary-font);
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 1.12rem;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

strong,h1,h2,h3{
  color: var(--primary-color);
}

h1, h1 *{
  font-size: 4rem;
}
.light{
  font-weight: 300;
}
h2{
  font-size: 2.5rem;
  font-weight: 400;
}
/* Layout System */
.container{
  width: 75%;
  margin: auto;
}

.col-3-1{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  align-items: end;
}
@media (max-width:700px) {
  .col-3-1{
    grid-template-columns: 1fr;
  }
}
.col-1{
  grid-template-columns: 1fr;
}

.log-bar{
  width: 75%;
  background-color: var(--primary-color);
  height: 10vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-size: 1.2em;
}

/* Estilos Header */
header{
  background-color: var(--primary-color);
}

.logo{
  font-weight: bold;
  font-size: 3rem;
  color: white;
}
/* Menu */
nav{
  display: flex;
  justify-content: flex-end;
}

nav > ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
nav > ul > li > a{
  color: white;
  font-weight: 300;
}

/* Informacion Basica */

#informacion-texto{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#informacion-basica{
  height: 90vh;
  align-items: center;
}

#informacion-basica img{
  width: 100%;
  height: auto;
}

.names{
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (max-width:700px) {
  .names{
    flex-direction: column;
    text-align: center;
  }
}

.username{
  border-radius: 15px;
  background-color: var(--primary-color-20);
  padding: 10px 30px;
  font-weight: 400;
}

.quote-inspirational{
  font-size: 1.3rem;
  font-weight: 300;
}